<!--<%- include("chestionar.ejs") %> -->
<br>
<p class="formular">Ați răspuns extrem de favorabil pentru noi la <b style="color: rgb(175, 108, 175); ">
        <%=raspunsuri_corecte %>
    </b> Întrebări! Vă mulțumim pentru feedback!</p>